@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Silkscreen&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  width: 100%;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#mainContainer {
  width: 100%;
  height: 100vh;
  background-color: #f2d1d1;
  display: flex;
  flex-direction: column;
}
#header {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  color: white;
}
#mainHeader {
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Silkscreen", cursive;
}
#content {
  display: flex;
  flex-grow: 1;
}
#addBook {
  height: 40px;
  width: 90px;
  margin-left: 30px;
  margin-top: 40px;
}
#bookUi {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
  background-color: #9c9efe;
}
#header2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: white;
  font-family: "Silkscreen", cursive;
}
.formLabels {
  font-size: 1.05rem;
  color: white;
  font-weight: 500;
  font-family: "Silkscreen", cursive;
}
#submitBook {
  margin-top: 20px;
  align-self: center;
  border-radius: 100px;
  width: 60px;
  font-family: "Silkscreen", cursive;
}

#input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 290px;
  height: 350px;
}
.inputSizes {
  width: 280px;
}
#readBook {
  align-self: center;
}
#library {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: white;
}
.bookElements {
  height: 300px;
  width: 240px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;
  background-color: #af7ab3;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.booksHeader {
  color: black;
  font-size: 1.5rem;
  text-align: center;
}
.bookElements:last-child {
  margin-right: 0px;
}
.titleHeaders {
  color: black;
  font-size: 18px;
  text-align: center;
}
.pageNum {
  color: black;
  font-size: 18px;
}
.readbooks {
  color: black;
  font-size: 18px;
}
.delete {
  margin-right: 5px;
  margin-bottom: 5px;
  width: 80px;
  border-radius: 100px;
  font-family: "Silkscreen", cursive;
}
.toggleRead {
  width: 60px;
  font-family: "Silkscreen", cursive;
  border-radius: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media (max-width: 1350px) {
  #library {
    width: 70%;
  }
  #bookUi {
    width: 30%;
  }
}
@media (max-width: 933px) {
  #library {
    width: 60%;
  }
  #bookUi {
    width: 40%;
  }
}
